#!/usr/bin/make -f
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@  --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/apps/nastools-istatserver \
	--mandir=/usr/share/man --sysconfdir=/apps/nastools-istatserver/etc
