<Application resource-id="nastools-istatserver">
  <Version>3.0-nt1</Version>
  <MinFirmwareVer>6.6.0</MinFirmwareVer>
  <Name>iStat NT</Name>
  <Author>NAStools</Author>
  <RequireReboot>0</RequireReboot>
  <LaunchURL/>
  <InfoURL>https://github.com/nastools/istatserver</InfoURL>
  <DebianPackage>nastools-istatserver</DebianPackage>
  <ServiceName>fvapp-nastools-istatserver.service</ServiceName>
  <Description lang="en-us">iStat is a highly detailed remote monitoring app</Description>
  <ConfigURL/>
</Application>
